body {
  background-color: #f4f6f8;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", Arial, sans-serif;
}

.header {
  width: 100%;
  min-width: 320px;
  max-width: 1024px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header > div {
  display: flex;
  align-items: center;
}
.header__btn {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../images/main/main_icon.png);
  background-size: 323px 185px;
  background-repeat: no-repeat;
  border-radius: 8px;
  transition: all 0.15s ease-in;
}
.header__btn:hover {
  box-shadow: #e0e2e3 0px 5px 5px -5px inset, #cecece 0px 18px 36px -18px inset;
}
.header__btn.all-menu {
  background-position: -135px -145px;
}
.header__btn.pay {
  background-position: -45px -145px;
}
.header__btn.shopping-cart {
  background-position: -180px -145px;
}
.header__btn.talk {
  background-position: -225px -145px;
}
.header__btn.notice {
  background-position: -93px -59px;
}
.header__btn.my {
  background-position: -90px -145px;
}

.main {
  margin: 60px auto 0;
  width: 100%;
  min-width: 320px;
  max-width: 1024px;
  box-sizing: border-box;
}
.main-search {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 570px;
  position: relative;
}
.main-search-box {
  border: 1px solid transparent;
  background-image: linear-gradient(#fff, #fff), linear-gradient(135deg, #03cf5d 0, #03c75a 100%);
  box-shadow: 0 5px 10px 0 rgba(117, 145, 181, 0.12);
  background-clip: content-box, border-box;
  border-radius: 55px;
  overflow: hidden;
}
.main-search__logo, .main-search-tool-btn {
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
}
.main-search__logo {
  position: absolute;
  left: 30px;
  background: linear-gradient(135deg, #03cf5d 0, #03c75a 100%);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
.main-search__logo::before {
  content: "";
  display: block;
  background-image: url(../images/main/main_icon.png);
  background-size: 323px 185px;
  background-repeat: no-repeat;
  background-position: -270px -145px;
  width: 40px;
  height: 40px;
}
.main-search__input {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 0 55px;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #1e1e23;
}
.main-search__input:focus-visible {
  outline: 0;
}
.main-search__input::-moz-placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ccc;
}
.main-search__input::placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ccc;
}
.main-search-tool-btn {
  position: absolute;
  right: 26px;
  background-image: url(../images/main/main_icon.png);
  background-size: 323px 185px;
  background-repeat: no-repeat;
  background-position: 0 -145px;
  border-radius: 50%;
  transition: all 0.15s ease-in;
}
.main-search-tool-btn:hover {
  box-shadow: #e0e2e3 0px 5px 5px -5px inset, #cecece 0px 18px 36px -18px inset;
}
.main-link {
  display: block;
  width: 50px;
  max-width: 50px;
  flex: 1 1 25%;
  position: relative;
}
.main-link::before, .main-link::after {
  content: "";
  display: block;
  background-image: url(../images/main/main_icon.png);
  background-size: 323px 185px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.main-link::before {
  background-position: -163px -21px;
}
.main-link::after {
  background-position: -218px -21px;
  position: absolute;
  top: 0;
  left: 0;
}
.main-link__img {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 3px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
.main-link__tit {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #1e1e23;
  text-align: center;
}
.main-link-stage {
  padding: 24px 20px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 22px;
  width: 100%;
  max-width: 306px;
  margin: 0 auto;
}
.main-ad {
  margin: 0 auto;
  padding-top: 52px;
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  height: 100px;
}
.main-ad > img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}/*# sourceMappingURL=common.css.map */