body {
  background-color: #f4f6f8;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", Arial, sans-serif;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

body:has(.header-search-stage.active) {
  overflow: hidden;
}

input {
  border: 0;
  box-sizing: border-box;
}
input:focus-visible {
  outline: 0;
}
input::-moz-placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ccc;
}
input::placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ccc;
}

.header {
  width: 100%;
  min-width: 320px;
  max-width: 1024px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left, .header__right {
  display: flex;
  align-items: center;
}
.header__btn {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../images/main/main_icon.png);
  background-repeat: no-repeat;
  background-size: 323px 185px;
  border-radius: 8px;
  transition: all 0.15s ease-in;
}
.header__btn:hover {
  box-shadow: #e0e2e3 0px 5px 5px -5px inset, #cecece 0px 18px 36px -18px inset;
}
.header__btn.all-menu {
  background-position: -135px -145px;
}
.header__btn.pay {
  background-position: -45px -145px;
}
.header__btn.shopping-cart {
  background-position: -180px -145px;
}
.header__btn.talk {
  background-position: -225px -145px;
}
.header__btn.notice {
  background-position: -93px -59px;
}
.header__btn.my {
  background-position: -90px -145px;
}
.header-search-stage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #f0f0f3;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
}
.header-search-stage.active {
  opacity: 1;
  visibility: visible;
}
.header-search__top {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #03c75a;
}
.header-search__btn {
  border-radius: 0;
  position: relative;
}
.header-search__btn::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 4px);
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/main/main_icon.png);
  background-repeat: no-repeat;
  background-size: 323px 185px;
}
.header-search__btn.back {
  width: 50px;
  min-width: 50px;
  height: 56px;
}
.header-search__btn.back::before {
  width: 18px;
  height: 18px;
  background-position: -297px -76px;
}
.header-search__btn.search {
  width: 40px;
  min-width: 40px;
  height: 56px;
}
.header-search__btn.search::before {
  background-color: #03c75a;
  width: 30px;
  height: 30px;
  content: "";
  display: block;
  background-position: -163px -101px;
  z-index: 1;
}
.header-search__input {
  width: calc(100% - 100px);
  height: 100%;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 700;
}
.header-search__input::-moz-placeholder {
  font-size: 18px;
  font-weight: 400;
}
.header-search__input::placeholder {
  font-size: 18px;
  font-weight: 400;
}
.header-search__center {
  background-color: #fff;
  padding: 12px 16px;
  min-height: 135px;
  box-sizing: border-box;
}
.header-search__center .header-search__base {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 135px;
}
.header-search__center .header-search__base p {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}
.header-search__center .header-search__base p.sub {
  font-size: 14px;
  color: #939396;
}
.header-search__bottom {
  background-color: #fff;
  border-top: 1px solid #F5F5F8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  height: 44px;
}
.header-search__bottom > div {
  display: flex;
  align-items: center;
}
.header-search__bottom .search-control-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 7px;
  height: 44px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #939396;
  position: relative;
}
.header-search__bottom .search-control-btn span {
  display: none;
}
.header-search__bottom .search-control-btn.on .on {
  display: block;
}
.header-search__bottom .search-control-btn.off .off {
  display: block;
}
.header-search__bottom .search-control-btn + .search-control-btn::before {
  content: "";
  display: block;
  background-color: #ddd;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -2px;
  transform: translateY(-50%);
}
.header-search__bottom a.search-control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=common.css.map */