/************  incolue ************/
@mixin txt($fs: null, $fw: null, $lh: null, $c: null, $ta: null) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $c;
    text-align: $ta;
}

@mixin display($d: null, $jc: null, $ai: null, $fd: null, $fw: null, $g:null) {
    display: $d;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
    flex-wrap: $fw;
    gap: $g;
}

@mixin size($w: null, $minw: null, $maxw: null, $h: null, $minh: null, $maxh: null) {
    width: $w;
    min-width: $minw;
    max-width: $maxw;
    height: $h;
    min-height: $minh;
    max-height: $maxh;
}

@mixin position($p: absolute, $t: null, $b: null, $l: null, $r: null, $z: null) {
    position: $p;
    top: $t;
    bottom: $b;
    left: $l;
    right: $r;
    z-index: $z;
}


/************  변수 설정 ************/
$transition: all .15s ease-in;
$gray100: #fff;
$gray99: #fafafb;
$gray95: #F7F7F9;
$gray90: #F5F5F8;
$gray80: #E9E9EC;
$gray70: #D9D9DC;
$gray60: #c5c5c7;
$gray50: #939396;
$gray40: #77777A;
$gray30: #555558;
$gray20: #444447;
$gray10: #222225;
$gray0: #000;
$green-base: #03aa5a;
$blue-link: #0068c3;
$shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.10), 0px 0px 6px 0px rgba(0, 0, 0, 0.05);

/************  공통 class ************/
@mixin deco {
    content: '';
    display: block;
}
@mixin show {
    opacity: 1;
    visibility: visible;
}
@mixin hide {
    opacity: 0;
    visibility: hidden;
}

@mixin head-bg-img {
    background-image: url(../images/common/icon-header.png);
    background-repeat: no-repeat;
    background-size: 323px 185px;
}

@mixin country-img {
    background-image: url(../images/common/icon-country.png);
    background-repeat: no-repeat;
    background-size: 352px 312px;
}

/************ 공통 ************/
body {
    background-color: #f4f6f8;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", Arial, sans-serif;
    height: auto;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    position: relative;
}

body:has(.dim.active),
body:has(.header-search-stage.active) {
    overflow: hidden;
}

.wrap {
    position: relative;
}

.dim {
    @include size($w:100%, $minh:100vh, $h:100%);
    background-color: #000;
    @include position($p: absolute, $z:100, $t:0, $l:0);
    transition: $transition;
    @include hide;
}

.dim.active {
    @include show;
    opacity: .3;
}

.popup {
    @include position($p:fixed, $z:101, $t:50%, $l:50%);
    transform: translate(-50%, -50%);
    @include hide;
    transition: $transition;
}

.popup.active {
    @include show;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.ellipsis,
.ellipsis2 {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}

.ellipsis {
    white-space: nowrap;
}

.ellipsis2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.img-wrap {
    position: relative;
    @include size($w:100%, $h:0);
    padding-top: 100%;
    overflow: hidden;
}

.img-wrap > img {
    @include position($p: absolute, $t: 50%, $l:50%);
    transform: translate(-50%,-50%);
}

/************ form ************/
input {
    border: 0;
    box-sizing: border-box;
    &:focus-visible {
        outline: 0;
    }
    &::placeholder {
        @include txt($fs: 16px, $lh: 22px, $fw: 500, $c: #ccc);
    }
}

/************ 시멘틱 태그 ************/

// 헤더
.header {
    @include size($w: 100%, $minw: 320px, $maxw: 1024px);
    box-sizing: border-box;
    margin: 0 auto;
    padding: .8rem 1rem;
    @include display($d: flex, $jc: space-between, $ai: center);
    
    &__left,
    &__right {
        @include display($d: flex, $ai: center);
    }

    &__btn {
        display: block;
        @include size($w: 40px, $h: 40px);
        @include head-bg-img;
        border-radius: 8px;
        transition: $transition;

        &:hover {
            box-shadow: #e0e2e3 0px 5px 5px -5px inset, #cecece 0px 18px 36px -18px inset;
        }

        &.all-menu {
            background-position: -135px -145px;
        }

        &.pay {
            background-position: -45px -145px;
        }

        &.shopping-cart {
            background-position: -180px -145px; 
            margin: 0 auto;
        }

        &.talk {
            background-position: -225px -145px;
        }

        &.notice {
            background-position: -93px -59px;
        }

        &.my {
            background-position: -90px -145px;
        }
    }

    &-search {
        
        &-stage {
            @include position($p:fixed, $t: 0,$l:0, $z:9);
            @include size($h:100%, $minh: 100vh, $w:100%);
            background-color: #f0f0f3;
            @include hide;
            transition: $transition;

            &.active {
                @include show;
            }
        }

        &__top {
            position: relative;
            @include size($h:56px, $w:100%);
            @include display($d: flex, $ai: center);
            background-color: #fff;
            border-bottom: 1px solid #03c75a;
        }
        &__btn {
            border-radius: 0;
            position: relative;

            &::before {
                @include deco;
                @include position($p:absolute, $t:50%, $l:50%);
                transform: translate(-50%, -50%);
                @include head-bg-img;
            }
            
            &.back {
                @include size($w:50px, $minw: 50px, $h:56px);
                &::before {
                    @include size($w:18px, $h:18px);
                    background-position: -297px -76px;
                }
            }
            &.search {
                @include size($w:40px, $minw: 40px, $h:56px);
                margin-right: 15px;
                &::before {
                    background-color: #03c75a;
                    @include size($w:30px, $h:30px);
                    background-position: -163px -101px;
                    z-index: 1;
                }
    
            }
            &.delete {
                @include hide;
                @include size($w:30px, $h:56px);
                @include position($p:absolute, $t:0, $r:50px, $z:1);
                transition: $transition;
                &::before {
                    background-position: -231px -101px;
                    @include size($w:24px, $h:24px);
                }
                &.active {
                    @include size($w:30px, $minw:30px, $h:56px);
                    @include show;
                } 
            }
        }
        &__input {
            @include size($h:100%, $w: 100%);
            padding: 0 10px;
            @include txt($fs:18px,$fw:700);
            
            &::placeholder {
                @include txt($fs:18px, $fw:400);
            }
        }
        &__center {
            $center-min-height: 160px;
            background-color: #fff;
            min-height: $center-min-height;
            box-sizing: border-box;
            
            &:has(.header-search__base.hide) {
                min-height: 0;
            }
            .header-search__base {
                padding: 12px 16px;
                @include display($d:flex, $fd: column, $jc:center,$ai:center);
                height: $center-min-height;

                p {
                    @include txt($fs: 16px, $fw: 500, $lh: 25px);
                    
                    &.sub {
                        @include txt($fs: 14px, $c:$gray50);
                    }
                }

                &.hide {
                    @include hide;
                    height: 0;
                    min-height: 0;
                    padding: 0;
                }
            }

        }

        &__bottom {
            background-color: #fff;
            border-top: 1px solid $gray90;
            @include display($d: flex, $ai: center, $jc: space-between);
            padding: 0 8px;
            height: 44px;
            
            &>div {
                @include display($d: flex, $ai: center);
            }
            
        }
    }
}
.search {
    &-control-btn {
        @include display($d: flex, $ai: center, $g:4px);
        padding: 0 7px;
        height: 44px;
        @include txt($fs: 16px, $lh:16px, $fw: 500, $c:$gray50);
        position: relative;
        span {
            display: none;
        }
        &.on .on {
            display: block;
        }
        &.off .off {
            display: block;
        }
        &+.search-control-btn::before {
            @include deco;
            background-color: #ddd;
            @include size($w: 3px, $h:3px);
            border-radius: 50%;
            @include position( $p:absolute, $t:50%, $l:-2px);
            transform: translateY(-50%); 
        }
    }
    &-histroy {
        &__lists {
            height: 0;
            @include hide;
    
            &.show {
                padding: 12px 0;
                @include show;
                height: auto;
            }
            & li {
                padding-left: calc(16px + 36px);
                padding-right: 16px;
                @include display($d:flex, $jc:space-between);
                position: relative;
    
                &::before {
                    @include deco;
                    @include country-img();
                    @include position($p:absolute, $l:16px, $t:50%);
                    transform: translateY(-50%);
                    @include size($h: 24px, $w: 24px);
                    background-position: -228px -132px;
                }
                &:has(.web)::before {
                    background-position: -4px -197px;
                }
                &+li {
                    margin-top: 8px;
                }
            }
    
        }
        &__link {
          display: block;
          position: relative;
          
            & * {
              @include txt($fs: 17px, $lh:19px);
              padding: 9px 0;
              word-break: keep-all;
            }
            & strong {
                font-weight: 700;
            }
    
        }
        &__copy {
            @include size($h: 38px, $w:29px);
            position: relative;
            &::before {
                @include deco;
                @include country-img();
                @include position($p:absolute, $l:50%, $t:50%);
                transform: translate(-50%, -50%);
                @include size($h: 12px, $w: 12px);
                background-position: -48px -293px;
            }
        }
    }
}

a.search-control-btn {
    @include display($d: flex, $ai: center, $jc: center);
}


.context {
    &-auto-stage {
        position: relative;
        padding: 0 16px;
        @include display($d: flex, $ai: center, $jc:space-between);
        border-top: 1px solid $gray90;
        @include hide;
        height: 0;
        
        &.show {
            @include show;
            height: 44px;
        }

        &>p {
            @include txt($fs: 16px, $lh:16px, $fw: 500, $c:$gray50);
        }
    }
    &-auto-wrap {
        @include display($d: flex, $ai: center, $jc:space-between,$g: 4px);
        &>p {
            @include txt($fs: 16px, $lh:16px, $fw: 500, $c:$gray50);
        }
    }
    &-auto__info {
        display: block;
        @include size($w:16px,$h:16px);
        @include country-img;
        background-position: -324px -205px;
    }
    &-auto__pop {
        background-color: #fff;
        box-shadow: $shadow;
        @include position($p:absolute, $l:16px, $z:1, $b: 44px);
        @include size($w:calc(100% - 16px*2));
        border-radius: 12px;
        padding: 16px;
        transition: $transition;
        @include hide;
        
        &.active {
            @include show;
        }
    }
    &-pop {
        &__close {
            @include position($p:absolute, $z:1, $r: 8px, $t: 8px);
            @include size($w:26px, $h:26px);
            
            &::before {
                @include deco;
                @include country-img;
                @include size($w:15px, $h:15px);
                @include position($p:absolute, $l: 50%, $t: 50%);
                transform: translate(-50%,-50%);
                background-position: -26px -293px;
            }

        }
        &__tit {
            @include txt($fs:16px, $fw:600, $c:#000, $lh: 17px);
        }
        &__cnt {
            @include txt($fs:15px, $fw:500, $c:$gray30, $lh: 20px);
            margin-top: 8px;
        }
        &__link {
            @include txt($fs:16px, $fw:500, $c:$blue-link, $lh: 20px);
            margin-top: 4px;
            display: block;
        }
    }
}

.switch {
    &-stage {
        @include size( $w:35px, $h:21px);
        border-radius: 25px;
        transition:  $transition;
        background-color: $gray60;
        position: relative;
        
        &::before {
            @include deco;
            @include size( $w:19px, $h:19px);
            background-color: #fff;
            border-radius: 50%;
            @include position( $p:absolute, $t:1px, $l: 1px);
            transition: $transition;
        }

        &:has(:checked) {
            background-color: $green-base;
            
            &::before {
                @include position($l: 15px);
            }
        }
        
    }
    &__check {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    &__label {
        display: block;
        @include size( $w:35px, $h:25px);
        @include position( $p:absolute,$t:0, $l: 0 );
    }    
}

// 푸터

@mixin footer-img {
    background-size: 345px 340px;
    background-repeat: no-repeat;
    background-image: url(/resources/images/common/icon-footer.png);
}

.footer {
    padding: 10px 0 80px;
    background-color: #eaeef3;

    &-login {
        &-wrap {
            padding: 16px;
            background-color: #eff5ff;
            @include display($d:flex, $ai: end, $jc:space-between);
    
        }
        &__tit {
            @include txt($fs: 15px, $lh:24px, $c:#2a2a2c);
        }
        &__link {
            @include txt($fs: 15px, $lh:18px, $c:#3283fd);
            text-decoration: underline;
        }
    }

    &__top{
        padding: 8px 16px;
        border-bottom: 1px solid #e2e6e9;
        @include display($d:flex, $ai: end, $jc:space-between);
    }

    &__btn {
        background-color: #fff;
        @include size($w: 40px, $minw: 40px, $h: 36px);
        border-radius: 5px;
        border: 1px solid #e2e6e9;
        @include txt($fs:13px,$c:#767678)
    }

    &-size {
        &-wrap {
            @include display($d:flex, $ai: center,);
        }
        &__btn {
            border-radius: 5px 0 0 5px;
            
            & + .footer-size__btn {
                border-radius: 0 5px 5px 0;
                border-left-width: 0;
            }
        }
    }

    & .top-btn {
        position: relative;

        &::before {
            @include deco();
            @include footer-img();
            @include size($w:26px, $h:23px);
            background-position: -36px -240px;
            @include position($p: absolute, $t:50%, $l: 50%);
            transform: translate(-50%, -50%);
        }

    }

    &__bottom {}
    
    &-link {
        display: inline-block;
        padding: 3px 9px;
        @include txt($fs:13px, $lh: 16px, $c:#929294);

        &__list {

        }
        
        &__lists {
            @include display($d:flex, $ai: center, $jc: center, $fw: wrap, $g: 6px 1px);
            padding-top: 36px;
            max-width: 250px;
            margin: 0 auto;
        }

    }
    &__logo {
        margin: 16px auto 0;
        @include footer-img();
        @include size($w:74px, $h:14px);
        background-position: -96px -191px;
        display: block;
    }
}
