@import "common"; 

.main {
    margin: 60px auto 0;
    @include size($w: 100%, $minw: 320px, $maxw: 1024px);
    box-sizing: border-box;

    &-search {
        padding: 0 20px;
        margin: 0 auto;
        @include size($w: 100%, $maxw: 570px);
        @include position($p: relative);

        &-box {
            border: 1px solid transparent;
            background-image: linear-gradient(#fff, #fff), linear-gradient(135deg, #03cf5d 0, #03c75a 100%);
            box-shadow: 0 5px 10px 0 rgba(117, 145, 181, .12);
            background-clip: content-box, border-box;
            border-radius: 55px;
            overflow: hidden;
        }

        &__logo,
        &-tool-btn {
            transform: translateY(-50%);
            @include size($w: 40px, $h: 40px);
            @include position($p: absolute, $t: 50%);
        }

        &__logo {
            @include position($l: 30px);
            background: linear-gradient(135deg, #03cf5d 0, #03c75a 100%);
            -webkit-tap-highlight-color: rgba(0, 0, 0, .1);
        }

        &__logo::before {
            @include deco;
            @include head-bg-img;
            background-position: -270px -145px;
            @include size($w: 40px, $h: 40px);
        }

        &__input {
            @include size($w: 100%, $h: 50px);
            padding: 0 55px;
            @include txt($fs: 18px, $lh: 22px, $fw: 600, $c: #1e1e23);
        }

        &-tool-btn {
            @include position($r: 26px);
            @include head-bg-img;
            background-position: 0 -145px;
            border-radius: 50%;
            transition: $transition;

            &:hover {
                box-shadow: #e0e2e3 0px 5px 5px -5px inset, #cecece 0px 18px 36px -18px inset;
            }
        }
    }

    &-link {
        $link-size: 50px;
        display: block;
        @include size($w: $link-size, $maxw: $link-size);
        flex: 1 1 25%;
        position: relative;
        
        &::before,
        &::after {
            @include deco;
            @include head-bg-img;
            @include size($w: $link-size, $h: $link-size);
        }

        &::before {
            background-position:-163px -21px;
        }
        &::after {
            background-position:-218px -21px;
            @include position( $p:absolute, $t:0, $l:0);
        }
        &__img {
            @include size($w: 44px, $h: 44px);
            @include position( $p:absolute, $t: 3px, $l:50%, $z:1);
            transform: translateX(-50%)
        }
        &__tit {
            @include txt(12px, 500, 16px,#1e1e23, center);
        }

        &-stage {
            padding: 24px 20px 0;
            box-sizing: border-box;
            @include display($d: flex, $jc: center, $ai: center,$fw:wrap, $g: 8px 22px);
            @include size($w: 100%, $maxw: calc($link-size*4 + 22px*3 + 40px));
            margin: 0 auto;
        }
    }

    &-ad {
        display: block;
        margin: 50px auto 0;
        @include size($w: 100%, $minw: 320px, $maxw: 375px,$h: 100px);
        &>img {
            object-fit: contain;
            width: 100%;
        }
    }
}

@mixin feed-icon {
    background-image: url(../images/common/icon-common.png);
    background-size: 343px 312px;
    background-repeat: no-repeat;
}

.feed {
    @include size($w: 100%, $minw: 320px, $maxw: 1024px, $h:100%);
    @include display($d: flex, $jc: flex-start, $ai: center, $fd:column, $g:8px);
    padding: 8px 8px 0;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;

    &-box {
        background-color: #fff;
        width: 100%;
        border-radius: 12px;
        box-sizing: border-box;
        box-shadow: 0 1px 4px 0 #0000000f;
    }

    &-weather {
        height: 48px;
        max-height: 48px;
        padding: 8px;
        @include display($d: flex, $ai: center, $g:2px);
        &__icon {
            $icon-size: 36px;
            @include size($w: $icon-size, $h: $icon-size);
            position: relative;
            &::before,
            &::after {
                @include deco;
                background-image: url(../images/common/icon-weather.png);
                background-size: 484px 459px;
                background-repeat: no-repeat;
                @include size($w: 42px, $h: 42px);
                @include position($p: absolute, $t: 50%, $l:50%);
                transform: translate(-50%, -50%) scale(.5454);
            }
            &.sun::before {
                background-position: -267px -46px;
            }
            &.cloud::before {
                @include size($w: 53px, $h: 36px);
                background-position: -161px -90px;
                left: calc(50% - 4px);
            }
            &.cloud::after {
                @include size($w: 38px, $h: 26px);
                background-position: -237px -293px;
                left: calc(50% + 4px);
                top: calc(50% + 4px);
            }
            &.cloud2::before {
                top: calc(50% - 5px);
                @include size($w: 28px, $h: 27px);
                background-position: -400px -36px;
            }
            &.cloud2::after {
                @include size($w: 47px, $h: 35px);
                background-position: -53px -253px;
            }
            &.snow::before {
                @include size($w: 28px, $h: 31px);
                background-position: -400px 0;
            }
        }
        &>p {
            @include txt($fs: 14px, $fw: 700, $c:#303038);
        }
    }

    &-popular {
    
        &__top {
            @include size($w: 100%, $h: 50px);
            padding-left:16px;
            @include display($d: flex, $jc: space-between, $ai: center);
            border-bottom: 1px solid #ddd;
            transition: $transition;
        }
        &__bottom {
            position: relative;
        }
        &__tit {
            @include txt($fs: 16px, $fw: 700, $c: #1c1c1c);
        }
        &__btn {

            &::before {
                @include deco;
                @include feed-icon;
                @include size($w: 24px, $h: 24px);
                transition: $transition;
            }
            &.all {
                @include display($d: flex, $ai: center);
                padding: 10px 16px;

                &::before {
                    @include size($w: 16px, $h: 16px);
                    transform: rotate(90deg);
                    margin-top: 2px;
                    background-position: -242px -275px;
                }
                &.active::before {
                    transform: rotate(-90deg);
                }
            }
            &.share {
                padding: 10px;

                &::before {
                    background-position: -213px -244px;
                }
            }
            &.keep {
                padding: 10px;

                &::before {
                    background-position: -155px -244px;
                }
            }

        }
        &__list {      
            @include size($w: 200px, $h: 165px);
            border: 1px solid #3283fd66;
            background-color: #fff;
            @include position($p:absolute, $r:20px, $z:2);
            @include display($d:flex, $fw: wrap);
            border-radius: 6px;
            overflow: hidden;
            @include hide;
            
            &.active {
                @include show;
                
            }
        }
        &__age {
            box-sizing: border-box;
            flex: 1 1 50%;
            max-width: 50%;
            border-style: solid;
            border-width: 0;
            border-color: #eee;
            &:nth-child(odd) {
                border-right-width: 1px;
            }
            &:not(:last-child) {
                border-bottom-width: 1px;
            }
            &.active {
                background-color: #3283fd14;
                font-weight: 700;
                color: #157efb;
            }
        }
        &__add {
            @include position( $p:absolute, $t: 10px, $r:10px, $z:1);
            @include size($w:26px, $h:26px);

            &::before {
                @include deco;
                @include feed-icon;
                background-position: -93px -244px;
                @include size($w:26px, $h:26px);
            }
        }
        
        &.sm {
            height: 168px;

            .popular-head__tit p + p,
            .popular-foot,
            .feed-popular__add,
            .feed-popular__top {
                @include hide;
                @include size($w:0, $h:0);
                position: static;
            }
            .popular-body {
                @include display($d: flex, $jc: space-between);
                
                p {
                    @include size($w:calc(100% - 136px - 16px), $h:45px);
                    padding: 0;
                }
            }
            .popular-body__img {
                @include size($w:136px, $minw: 136px);
                padding-top: 136px;
                border-radius: 8px;
                overflow: hidden;
                @include position($p:relative, $t: -38px, $l:initial, $r: 6px);
                img {
                    height: auto;
                }
            }
        }
    }

    &__link {
        display: block;
        padding: 10px 10px 0;
    }

    &__tit {
        @include display($d: flex, $ai: center, $g:4px);
        
        & li {
            @include display($d: flex, $ai: center, $g:4px);
        }
    }
    &-icon {
        @include size($w:20px,$minw:20px, $h:20px);
        display: block;
        border-radius: 50%;
        overflow: hidden;
        
        & + .feed-icon {
            margin-left: -8px;
        }

        &>img {
            @include size($w:20px,$minw:20px, $h:20px);
        } 
        &.influ {
            position: relative;

            &::before {
                @include deco;
                @include size($w:24px,$minw:24px, $h:24px);
                @include feed-icon;
                background-position: -283px -145px;
                @include position( $p:absolute, $t: 50%, $l:50%);
                transform: translate(-50%, -50%);
            }
        }
    }
    p {
        @include txt($lh:20px, $fs: 14px, $c:#757575);
        & + p {
            position: relative;
            margin-left: 10px;

            &::before {
                @include deco;
                @include size($w:3px, $h:3px);
                background-color: #e6e6ea;
                border-radius: 50%;
                @include position( $p:absolute, $t: 50%, $l:-6px, $z:1);
                transform: translateY(-50%);
            }
        }
    }
}

.weather-swiper {
    max-height: 48px !important;
    overflow: hidden;
}

@media screen and (min-width: 1024px) {
    .feed-popular__age:hover {
        background-color: #3283fd14;
        font-weight: 700;
        color: #157efb;
    }
}

.popular {
    &-head {
        @include display($d: flex, $jc: space-between, $ai: center);
        
        &__tit {
            & li {
                @include display($d: flex, $ai: center);
            }

        }
    }

    &-body {
        position: relative;
        padding-top: 8px;

        & p {
            @include txt($lh:22px, $fs:16px);
            padding-bottom: 10px;
        }
        &__img {
            @include size($w: calc(100% + 20px));
            padding-top: calc(100% + 20px);
            @include position($p:relative, $l:-10px);
            &>img {
                width: 100%;
                height: 100%;
            }
        } 
    }
    &-foot {
        @include display($d: flex, $jc: space-between, $ai: center);
    }
}

@mixin sns-icon() {
    background-image: url(/resources/images/common/sns-icon.png);
    background-size: 282px 265px;
    background-repeat: no-repeat;
}

.popup__share {
    background-color: #f8f9fa;
    border-radius: 13px;
    width: 285px;

    & .popup {

        &__head {
            padding: 27px 0 18px;
            position: relative;
            
            & .popup__close {
                padding: 10px;
                @include position($p:absolute, $t:8px, $r:8px, $z:1);
                
                &::before {
                    @include deco;
                    @include sns-icon;
                    background-position: -252px -182px;
                    @include size($w:20px, $h:20px);
                }
                
            }
            & p {
                text-align: center;
                @include txt($fs:19px, $lh:26px, $c:#1e1e23, $fw:700)
            }
        }

        &__body {
            padding: 0 16px;
        }

        &__foot {
            padding: 20px 0;
        }
    }
    
    & .sns__list {
        flex: 1 1 25%;
        @include size($w: 25%, $maxw: 63px);

        &s {
            @include display($d: flex, $ai: center, $fw: wrap, $g: 16px 0,);
        }
    }

}

.share {
    &__link {
        display: block;
        
        &::before {
            @include deco;
            @include size($w:40px, $h:40px);
            @include sns-icon;
            background-position: -84px -42px;
            margin: 0 auto;
        }
    }

    &__tit {
        text-align: center;
        @include txt($fs:13px, $lh:16px, $fw:500, $c: #5a5a5a);
        padding-top: 7px;
        white-space: nowrap;
    }
}

$pop-sns-icon: (-42px -42px,-84px -42px,-168px -42px,-126px -168px,-42px 0px, -168px -126px, -126px -126px,-42px -126px,-210px -168px, -42px -84px,-42px -168px);
@for $i from 1 through length($pop-sns-icon) {
    .sns__list:nth-child(#{$i}) .share__link::before {
        background-position: nth($pop-sns-icon, $i);
    }
}

.popup-copy {
    &-wrap {
        @include size($w:245px, $h: 45px);
        margin: 0 auto;
        border: 1px solid #e6e6ea;
        border-radius: 9px;
        box-sizing: border-box;
        overflow: hidden;
        @include display($d: flex, $ai: center);
        background-color: #fff;
    }

    &__url {
        padding: 0 7px;
        @include txt($fs:13px, $c:#2196f3, $fw:500);
        width: 100%;
    }
    
    &__btn {
        background-color: #f4f4f5;
        padding: 0 7px;
        @include size($h:100%, $w:65px, $minw: 65px);
        @include txt($fs:13px, $c:#767678, $fw:500);
        border-left: 1px solid #e6e6ea;
    }
}
