@import "common"; 

.main {
    margin: 60px auto 0;
    @include size($w: 100%, $minw: 320px, $maxw: 1024px);
    box-sizing: border-box;

    &-search {
        padding: 0 20px;
        margin: 0 auto;
        @include size($w: 100%, $maxw: 570px);
        @include position($p: relative);

        &-box {
            border: 1px solid transparent;
            background-image: linear-gradient(#fff, #fff), linear-gradient(135deg, #03cf5d 0, #03c75a 100%);
            box-shadow: 0 5px 10px 0 rgba(117, 145, 181, .12);
            background-clip: content-box, border-box;
            border-radius: 55px;
            overflow: hidden;
        }

        &__logo,
        &-tool-btn {
            transform: translateY(-50%);
            @include size($w: 40px, $h: 40px);
            @include position($p: absolute, $t: 50%);
        }

        &__logo {
            @include position($l: 30px);
            background: linear-gradient(135deg, #03cf5d 0, #03c75a 100%);
            -webkit-tap-highlight-color: rgba(0, 0, 0, .1);
        }

        &__logo::before {
            @include deco;
            @include head-bg-img;
            background-position: -270px -145px;
            @include size($w: 40px, $h: 40px);
        }

        &__input {
            @include size($w: 100%, $h: 50px);
            padding: 0 55px;
            @include txt($fs: 18px, $lh: 22px, $fw: 600, $c: #1e1e23);
        }

        &-tool-btn {
            @include position($r: 26px);
            @include head-bg-img;
            background-position: 0 -145px;
            border-radius: 50%;
            transition: $transition;

            &:hover {
                box-shadow: #e0e2e3 0px 5px 5px -5px inset, #cecece 0px 18px 36px -18px inset;
            }
        }
    }

    &-link {
        $link-size: 50px;
        display: block;
        @include size($w: $link-size, $maxw: $link-size);
        flex: 1 1 25%;
        position: relative;
        
        &::before,
        &::after {
            @include deco;
            @include head-bg-img;
            @include size($w: $link-size, $h: $link-size);
        }

        &::before {
            background-position:-163px -21px;
        }
        &::after {
            background-position:-218px -21px;
            @include position( $p:absolute, $t:0, $l:0);
        }
        &__img {
            @include size($w: 44px, $h: 44px);
            @include position( $p:absolute, $t: 3px, $l:50%, $z:1);
            transform: translateX(-50%)
        }
        &__tit {
            @include txt(12px, 500, 16px,#1e1e23, center);
        }

        &-stage {
            padding: 24px 20px 0;
            box-sizing: border-box;
            @include display($d: flex, $jc: center, $ai: center,$fw:wrap, $g: 8px 22px);
            @include size($w: 100%, $maxw: calc($link-size*4 + 22px*3 + 40px));
            margin: 0 auto;
        }
    }

    &-ad {
        display: block;
        margin: 50px auto 0;
        @include size($w: 100%, $minw: 320px, $maxw: 375px,$h: 100px);
        &>img {
            object-fit: contain;
            width: 100%;
        }
    }
}

@mixin feed-icon {
    background-image: url(../images/common/icon-common.png);
    background-size: 343px 312px;
    background-repeat: no-repeat;
}

.feed {
    @include size($w: 100%, $minw: 320px, $maxw: 1024px);
    @include display($d: flex, $jc: center, $ai: center, $fd:column, $g:8px);
    padding: 8px 8px 0;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;

    &-box {
        background-color: #fff;
        width: 100%;
        border-radius: 12px;
        box-sizing: border-box;
        box-shadow: 0 1px 4px 0 #0000000f;
    }

    &-weather {
        height: 48px;
        max-height: 48px;
        padding: 8px;
        @include display($d: flex, $ai: center, $g:2px);
        &__icon {
            $icon-size: 36px;
            @include size($w: $icon-size, $h: $icon-size);
            position: relative;
            &::before {
                @include deco;
                background-image: url(../images/common/icon-weather.png);
                background-size: 484px 459px;
                background-repeat: no-repeat;
                @include size($w: 42px, $h: 42px);
                @include position($p: absolute, $t: 50%, $l:50%);
                transform: translate(-50%, -50%) scale(.5454);
            }
            &.sun::before {
                background-position: -267px -46px;
            }
        }
        &>p {
            @include txt($fs: 14px, $fw: 700, $c:#303038);
        }
    }

    &-popular {
        &__top {
            @include size($w: 100%, $h: 50px);
            padding-left:16px;
            @include display($d: flex, $jc: space-between, $ai: center);
            border-bottom: 1px solid #ddd;
            transition: $transition;
        }
        &__tit {
            @include txt($fs: 16px, $fw: 700, $c: #1c1c1c);
        }
        &__btn {
            padding: 10px 16px;
            @include display($d: flex, $ai: center);
            &::after {
                @include deco;
                @include feed-icon;
                @include size($w: 16px, $h: 16px);
                background-position: -242px -275px;
                transform: rotate(90deg);
                margin-top: 2px;
                transition: $transition;
            }
            &.active::after {
                transform: rotate(-90deg);
            }
        }
        &__list {      
            @include size($w: 200px, $h: 165px);
            border: 1px solid #3283fd66;
            background-color: #fff;
            @include position($p:absolute, $r:20px,$z:1);
            @include display($d:flex, $fw: wrap);
            border-radius: 6px;
            overflow: hidden;
            @include hide;
            
            &.active {
                @include show;
                
            }
        }
        &__age {
            box-sizing: border-box;
            flex: 1 1 50%;
            max-width: 50%;
            border-style: solid;
            border-width: 0;
            border-color: #eee;
            &:nth-child(odd) {
                border-right-width: 1px;
            }
            &:not(:last-child) {
                border-bottom-width: 1px;
            }
            &.active {
                background-color: #3283fd14;
                font-weight: 700;
                color: #157efb;
            }
        }
    }
    &__link {
        display: block;
        padding: 10px;
    }
}

.weather-swiper {
    max-height: 48px !important;
    overflow: hidden;
}

@media screen and (min-width: 1024px) {
    .feed-popular__age:hover {
        background-color: #3283fd14;
        font-weight: 700;
        color: #157efb;
    }
}