@charset "UTF-8";
/************  incolue ************/
/************  변수 설정 ************/
/************  공통 class ************/
/************ 공통 ************/
body {
  background-color: #f4f6f8;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", Arial, sans-serif;
  height: auto;
  min-height: 100vh;
  position: relative;
}

body:has(.dim.active),
body:has(.header-search-stage.active) {
  overflow: hidden;
}

.wrap {
  position: relative;
}

.dim {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.15s ease-in;
  opacity: 0;
  visibility: hidden;
}

.dim.active {
  opacity: 1;
  visibility: visible;
  opacity: 0.3;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 101;
  transform: translate(-50%, -50%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.ellipsis,
.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}

.ellipsis {
  white-space: nowrap;
}

.ellipsis2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.img-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  overflow: hidden;
}

.img-wrap > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/************ form ************/
input {
  border: 0;
  box-sizing: border-box;
}
input:focus-visible {
  outline: 0;
}
input::-moz-placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ccc;
}
input::placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ccc;
}

/************ 시멘틱 태그 ************/
.header {
  width: 100%;
  min-width: 320px;
  max-width: 1024px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left, .header__right {
  display: flex;
  align-items: center;
}
.header__btn {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../images/common/icon-header.png);
  background-repeat: no-repeat;
  background-size: 323px 185px;
  border-radius: 8px;
  transition: all 0.15s ease-in;
}
.header__btn:hover {
  box-shadow: #e0e2e3 0px 5px 5px -5px inset, #cecece 0px 18px 36px -18px inset;
}
.header__btn.all-menu {
  background-position: -135px -145px;
}
.header__btn.pay {
  background-position: -45px -145px;
}
.header__btn.shopping-cart {
  background-position: -180px -145px;
}
.header__btn.talk {
  background-position: -225px -145px;
}
.header__btn.notice {
  background-position: -93px -59px;
}
.header__btn.my {
  background-position: -90px -145px;
}
.header-search-stage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #f0f0f3;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
}
.header-search-stage.active {
  opacity: 1;
  visibility: visible;
}
.header-search__top {
  position: relative;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #03c75a;
}
.header-search__btn {
  border-radius: 0;
  position: relative;
}
.header-search__btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/common/icon-header.png);
  background-repeat: no-repeat;
  background-size: 323px 185px;
}
.header-search__btn.back {
  width: 50px;
  min-width: 50px;
  height: 56px;
}
.header-search__btn.back::before {
  width: 18px;
  height: 18px;
  background-position: -297px -76px;
}
.header-search__btn.search {
  width: 40px;
  min-width: 40px;
  height: 56px;
  margin-right: 15px;
}
.header-search__btn.search::before {
  background-color: #03c75a;
  width: 30px;
  height: 30px;
  background-position: -163px -101px;
  z-index: 1;
}
.header-search__btn.delete {
  opacity: 0;
  visibility: hidden;
  width: 30px;
  height: 56px;
  position: absolute;
  top: 0;
  right: 50px;
  z-index: 1;
  transition: all 0.15s ease-in;
}
.header-search__btn.delete::before {
  background-position: -231px -101px;
  width: 24px;
  height: 24px;
}
.header-search__btn.delete.active {
  width: 30px;
  min-width: 30px;
  height: 56px;
  opacity: 1;
  visibility: visible;
}
.header-search__input {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 700;
}
.header-search__input::-moz-placeholder {
  font-size: 18px;
  font-weight: 400;
}
.header-search__input::placeholder {
  font-size: 18px;
  font-weight: 400;
}
.header-search__center {
  background-color: #fff;
  min-height: 160px;
  box-sizing: border-box;
}
.header-search__center:has(.header-search__base.hide) {
  min-height: 0;
}
.header-search__center .header-search__base {
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 160px;
}
.header-search__center .header-search__base p {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}
.header-search__center .header-search__base p.sub {
  font-size: 14px;
  color: #939396;
}
.header-search__center .header-search__base.hide {
  opacity: 0;
  visibility: hidden;
  height: 0;
  min-height: 0;
  padding: 0;
}
.header-search__bottom {
  background-color: #fff;
  border-top: 1px solid #F5F5F8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  height: 44px;
}
.header-search__bottom > div {
  display: flex;
  align-items: center;
}

.search-control-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 7px;
  height: 44px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #939396;
  position: relative;
}
.search-control-btn span {
  display: none;
}
.search-control-btn.on .on {
  display: block;
}
.search-control-btn.off .off {
  display: block;
}
.search-control-btn + .search-control-btn::before {
  content: "";
  display: block;
  background-color: #ddd;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -2px;
  transform: translateY(-50%);
}
.search-histroy__lists {
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.search-histroy__lists.show {
  padding: 12px 0;
  opacity: 1;
  visibility: visible;
  height: auto;
}
.search-histroy__lists li {
  padding-left: 52px;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.search-histroy__lists li::before {
  content: "";
  display: block;
  background-image: url(../images/common/icon-country.png);
  background-repeat: no-repeat;
  background-size: 352px 312px;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-position: -228px -132px;
}
.search-histroy__lists li:has(.web)::before {
  background-position: -4px -197px;
}
.search-histroy__lists li + li {
  margin-top: 8px;
}
.search-histroy__link {
  display: block;
  position: relative;
}
.search-histroy__link * {
  font-size: 17px;
  line-height: 19px;
  padding: 9px 0;
  word-break: keep-all;
}
.search-histroy__link strong {
  font-weight: 700;
}
.search-histroy__copy {
  width: 29px;
  height: 38px;
  position: relative;
}
.search-histroy__copy::before {
  content: "";
  display: block;
  background-image: url(../images/common/icon-country.png);
  background-repeat: no-repeat;
  background-size: 352px 312px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-position: -48px -293px;
}

a.search-control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.context-auto-stage {
  position: relative;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #F5F5F8;
  opacity: 0;
  visibility: hidden;
  height: 0;
}
.context-auto-stage.show {
  opacity: 1;
  visibility: visible;
  height: 44px;
}
.context-auto-stage > p {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #939396;
}
.context-auto-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}
.context-auto-wrap > p {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #939396;
}
.context-auto__info {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../images/common/icon-country.png);
  background-repeat: no-repeat;
  background-size: 352px 312px;
  background-position: -324px -205px;
}
.context-auto__pop {
  background-color: #fff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1), 0px 0px 6px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 44px;
  left: 16px;
  z-index: 1;
  width: calc(100% - 32px);
  border-radius: 12px;
  padding: 16px;
  transition: all 0.15s ease-in;
  opacity: 0;
  visibility: hidden;
}
.context-auto__pop.active {
  opacity: 1;
  visibility: visible;
}
.context-pop__close {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
  width: 26px;
  height: 26px;
}
.context-pop__close::before {
  content: "";
  display: block;
  background-image: url(../images/common/icon-country.png);
  background-repeat: no-repeat;
  background-size: 352px 312px;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: -26px -293px;
}
.context-pop__tit {
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  color: #000;
}
.context-pop__cnt {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #555558;
  margin-top: 8px;
}
.context-pop__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #0068c3;
  margin-top: 4px;
  display: block;
}

.switch-stage {
  width: 35px;
  height: 21px;
  border-radius: 25px;
  transition: all 0.15s ease-in;
  background-color: #c5c5c7;
  position: relative;
}
.switch-stage::before {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: all 0.15s ease-in;
}
.switch-stage:has(:checked) {
  background-color: #03aa5a;
}
.switch-stage:has(:checked)::before {
  position: absolute;
  left: 15px;
}
.switch__check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.switch__label {
  display: block;
  width: 35px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

.main {
  margin: 60px auto 0;
  width: 100%;
  min-width: 320px;
  max-width: 1024px;
  box-sizing: border-box;
}
.main-search {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 570px;
  position: relative;
}
.main-search-box {
  border: 1px solid transparent;
  background-image: linear-gradient(#fff, #fff), linear-gradient(135deg, #03cf5d 0, #03c75a 100%);
  box-shadow: 0 5px 10px 0 rgba(117, 145, 181, 0.12);
  background-clip: content-box, border-box;
  border-radius: 55px;
  overflow: hidden;
}
.main-search__logo, .main-search-tool-btn {
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
}
.main-search__logo {
  position: absolute;
  left: 30px;
  background: linear-gradient(135deg, #03cf5d 0, #03c75a 100%);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
.main-search__logo::before {
  content: "";
  display: block;
  background-image: url(../images/common/icon-header.png);
  background-repeat: no-repeat;
  background-size: 323px 185px;
  background-position: -270px -145px;
  width: 40px;
  height: 40px;
}
.main-search__input {
  width: 100%;
  height: 50px;
  padding: 0 55px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #1e1e23;
}
.main-search-tool-btn {
  position: absolute;
  right: 26px;
  background-image: url(../images/common/icon-header.png);
  background-repeat: no-repeat;
  background-size: 323px 185px;
  background-position: 0 -145px;
  border-radius: 50%;
  transition: all 0.15s ease-in;
}
.main-search-tool-btn:hover {
  box-shadow: #e0e2e3 0px 5px 5px -5px inset, #cecece 0px 18px 36px -18px inset;
}
.main-link {
  display: block;
  width: 50px;
  max-width: 50px;
  flex: 1 1 25%;
  position: relative;
}
.main-link::before, .main-link::after {
  content: "";
  display: block;
  background-image: url(../images/common/icon-header.png);
  background-repeat: no-repeat;
  background-size: 323px 185px;
  width: 50px;
  height: 50px;
}
.main-link::before {
  background-position: -163px -21px;
}
.main-link::after {
  background-position: -218px -21px;
  position: absolute;
  top: 0;
  left: 0;
}
.main-link__img {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 3px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
.main-link__tit {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #1e1e23;
  text-align: center;
}
.main-link-stage {
  padding: 24px 20px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 22px;
  width: 100%;
  max-width: 306px;
  margin: 0 auto;
}
.main-ad {
  display: block;
  margin: 50px auto 0;
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  height: 100px;
}
.main-ad > img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.feed {
  width: 100%;
  min-width: 320px;
  max-width: 1024px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding: 8px 8px 0;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}
.feed-box {
  background-color: #fff;
  width: 100%;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.0588235294);
}
.feed-weather {
  height: 48px;
  max-height: 48px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 2px;
}
.feed-weather__icon {
  width: 36px;
  height: 36px;
  position: relative;
}
.feed-weather__icon::before, .feed-weather__icon::after {
  content: "";
  display: block;
  background-image: url(../images/common/icon-weather.png);
  background-size: 484px 459px;
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5454);
}
.feed-weather__icon.sun::before {
  background-position: -267px -46px;
}
.feed-weather__icon.cloud::before {
  width: 53px;
  height: 36px;
  background-position: -161px -90px;
  left: calc(50% - 4px);
}
.feed-weather__icon.cloud::after {
  width: 38px;
  height: 26px;
  background-position: -237px -293px;
  left: calc(50% + 4px);
  top: calc(50% + 4px);
}
.feed-weather__icon.cloud2::before {
  top: calc(50% - 5px);
  width: 28px;
  height: 27px;
  background-position: -400px -36px;
}
.feed-weather__icon.cloud2::after {
  width: 47px;
  height: 35px;
  background-position: -53px -253px;
}
.feed-weather__icon.snow::before {
  width: 28px;
  height: 31px;
  background-position: -400px 0;
}
.feed-weather > p {
  font-size: 14px;
  font-weight: 700;
  color: #303038;
}
.feed-popular__top {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  transition: all 0.15s ease-in;
}
.feed-popular__bottom {
  position: relative;
}
.feed-popular__tit {
  font-size: 16px;
  font-weight: 700;
  color: #1c1c1c;
}
.feed-popular__btn::before {
  content: "";
  display: block;
  background-image: url(../images/common/icon-common.png);
  background-size: 343px 312px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  transition: all 0.15s ease-in;
}
.feed-popular__btn.all {
  display: flex;
  align-items: center;
  padding: 10px 16px;
}
.feed-popular__btn.all::before {
  width: 16px;
  height: 16px;
  transform: rotate(90deg);
  margin-top: 2px;
  background-position: -242px -275px;
}
.feed-popular__btn.all.active::before {
  transform: rotate(-90deg);
}
.feed-popular__btn.share {
  padding: 10px;
}
.feed-popular__btn.share::before {
  background-position: -213px -244px;
}
.feed-popular__btn.keep {
  padding: 10px;
}
.feed-popular__btn.keep::before {
  background-position: -155px -244px;
}
.feed-popular__list {
  width: 200px;
  height: 165px;
  border: 1px solid rgba(50, 131, 253, 0.4);
  background-color: #fff;
  position: absolute;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.feed-popular__list.active {
  opacity: 1;
  visibility: visible;
}
.feed-popular__age {
  box-sizing: border-box;
  flex: 1 1 50%;
  max-width: 50%;
  border-style: solid;
  border-width: 0;
  border-color: #eee;
}
.feed-popular__age:nth-child(odd) {
  border-right-width: 1px;
}
.feed-popular__age:not(:last-child) {
  border-bottom-width: 1px;
}
.feed-popular__age.active {
  background-color: rgba(50, 131, 253, 0.0784313725);
  font-weight: 700;
  color: #157efb;
}
.feed-popular__add {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  width: 26px;
  height: 26px;
}
.feed-popular__add::before {
  content: "";
  display: block;
  background-image: url(../images/common/icon-common.png);
  background-size: 343px 312px;
  background-repeat: no-repeat;
  background-position: -93px -244px;
  width: 26px;
  height: 26px;
}
.feed__link {
  display: block;
  padding: 10px 10px 0;
}

.weather-swiper {
  max-height: 48px !important;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .feed-popular__age:hover {
    background-color: rgba(50, 131, 253, 0.0784313725);
    font-weight: 700;
    color: #157efb;
  }
}
.popular-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-head__tit {
  display: flex;
  align-items: center;
  gap: 4px;
}
.popular-head__tit > li {
  display: flex;
  align-items: center;
}
.popular-head__tit p {
  font-size: 14px;
  line-height: 20px;
  color: #757575;
}
.popular-head__tit p + p {
  position: relative;
  margin-left: 10px;
}
.popular-head__tit p + p::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background-color: #e6e6ea;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -6px;
  z-index: 1;
  transform: translateY(-50%);
}
.popular-icon {
  width: 20px;
  min-width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
}
.popular-icon + .popular-icon {
  margin-left: -8px;
}
.popular-icon > img {
  width: 20px;
  min-width: 20px;
  height: 20px;
}
.popular-icon.influ {
  position: relative;
}
.popular-icon.influ::before {
  content: "";
  display: block;
  width: 24px;
  min-width: 24px;
  height: 24px;
  background-image: url(../images/common/icon-common.png);
  background-size: 343px 312px;
  background-repeat: no-repeat;
  background-position: -283px -145px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popular-body {
  padding-top: 8px;
}
.popular-body p {
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 10px;
}
.popular-body__img {
  width: calc(100% + 20px);
  padding-top: calc(100% + 20px);
  position: relative;
  left: -10px;
}
.popular-body__img > img {
  width: 100%;
  height: 100%;
}
.popular-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup__share {
  background-color: #f8f9fa;
  border-radius: 13px;
  width: 285px;
}
.popup__share .popup__head {
  padding: 27px 0 18px;
  position: relative;
}
.popup__share .popup__head .popup__close {
  padding: 10px;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
}
.popup__share .popup__head .popup__close::before {
  content: "";
  display: block;
  background-image: url(/resources/images/common/sns-icon.png);
  background-size: 282px 265px;
  background-repeat: no-repeat;
  background-position: -252px -182px;
  width: 20px;
  height: 20px;
}
.popup__share .popup__head p {
  text-align: center;
  font-size: 19px;
  font-weight: 700;
  line-height: 26px;
  color: #1e1e23;
}
.popup__share .popup__body {
  padding: 0 16px;
}
.popup__share .popup__foot {
  padding: 20px 0;
}
.popup__share .sns__list {
  flex: 1 1 25%;
  width: 25%;
  max-width: 63px;
}
.popup__share .sns__lists {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px 0;
}

.share__link {
  display: block;
}
.share__link::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(/resources/images/common/sns-icon.png);
  background-size: 282px 265px;
  background-repeat: no-repeat;
  background-position: -84px -42px;
  margin: 0 auto;
}
.share__tit {
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #5a5a5a;
  padding-top: 7px;
  white-space: nowrap;
}

.sns__list:nth-child(1) .share__link::before {
  background-position: -42px -42px;
}

.sns__list:nth-child(2) .share__link::before {
  background-position: -84px -42px;
}

.sns__list:nth-child(3) .share__link::before {
  background-position: -168px -42px;
}

.sns__list:nth-child(4) .share__link::before {
  background-position: -126px -168px;
}

.sns__list:nth-child(5) .share__link::before {
  background-position: -42px 0px;
}

.sns__list:nth-child(6) .share__link::before {
  background-position: -168px -126px;
}

.sns__list:nth-child(7) .share__link::before {
  background-position: -126px -126px;
}

.sns__list:nth-child(8) .share__link::before {
  background-position: -42px -126px;
}

.sns__list:nth-child(9) .share__link::before {
  background-position: -210px -168px;
}

.sns__list:nth-child(10) .share__link::before {
  background-position: -42px -84px;
}

.sns__list:nth-child(11) .share__link::before {
  background-position: -42px -168px;
}

.popup-copy-wrap {
  width: 245px;
  height: 45px;
  margin: 0 auto;
  border: 1px solid #e6e6ea;
  border-radius: 9px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.popup-copy__url {
  padding: 0 7px;
  font-size: 13px;
  font-weight: 500;
  color: #2196f3;
  width: 100%;
}
.popup-copy__btn {
  background-color: #f4f4f5;
  padding: 0 7px;
  width: 65px;
  min-width: 65px;
  height: 100%;
  font-size: 13px;
  font-weight: 500;
  color: #767678;
  border-left: 1px solid #e6e6ea;
}/*# sourceMappingURL=main.css.map */