body {
  background-color: #f4f6f8;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", Arial, sans-serif;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

input {
  border: 0;
  box-sizing: border-box;
}
input:focus-visible {
  outline: 0;
}
input::-moz-placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ccc;
}
input::placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ccc;
}

.header {
  width: 100%;
  min-width: 320px;
  max-width: 1024px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left, .header__right {
  display: flex;
  align-items: center;
}
.header__btn {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../images/main/main_icon.png);
  background-repeat: no-repeat;
  background-size: 323px 185px;
  border-radius: 8px;
  transition: all 0.15s ease-in;
}
.header__btn:hover {
  box-shadow: #e0e2e3 0px 5px 5px -5px inset, #cecece 0px 18px 36px -18px inset;
}
.header__btn.all-menu {
  background-position: -135px -145px;
}
.header__btn.pay {
  background-position: -45px -145px;
}
.header__btn.shopping-cart {
  background-position: -180px -145px;
}
.header__btn.talk {
  background-position: -225px -145px;
}
.header__btn.notice {
  background-position: -93px -59px;
}
.header__btn.my {
  background-position: -90px -145px;
}
.header-search-stage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #f0f0f3;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
}
.header-search-stage.active {
  opacity: 1;
  visibility: visible;
}
.header-search__top {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #03c75a;
}
.header-search__btn {
  border-radius: 0;
  position: relative;
}
.header-search__btn::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 4px);
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/main/main_icon.png);
  background-repeat: no-repeat;
  background-size: 323px 185px;
}
.header-search__btn.back {
  width: 50px;
  min-width: 50px;
  height: 56px;
}
.header-search__btn.back::before {
  width: 18px;
  height: 18px;
  background-position: -297px -76px;
}
.header-search__btn.search {
  width: 40px;
  min-width: 40px;
  height: 56px;
}
.header-search__btn.search::before {
  background-color: #03c75a;
  width: 30px;
  height: 30px;
  content: "";
  display: block;
  background-position: -163px -101px;
  z-index: 1;
}
.header-search__input {
  width: calc(100% - 100px);
  height: 100%;
  padding: 0 10px;
  font-size: 18px;
}
.header-search__center {
  background-color: #fff;
}

.main {
  margin: 60px auto 0;
  width: 100%;
  min-width: 320px;
  max-width: 1024px;
  box-sizing: border-box;
}
.main-search {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 570px;
  position: relative;
}
.main-search-box {
  border: 1px solid transparent;
  background-image: linear-gradient(#fff, #fff), linear-gradient(135deg, #03cf5d 0, #03c75a 100%);
  box-shadow: 0 5px 10px 0 rgba(117, 145, 181, 0.12);
  background-clip: content-box, border-box;
  border-radius: 55px;
  overflow: hidden;
}
.main-search__logo, .main-search-tool-btn {
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
}
.main-search__logo {
  position: absolute;
  left: 30px;
  background: linear-gradient(135deg, #03cf5d 0, #03c75a 100%);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
.main-search__logo::before {
  content: "";
  display: block;
  background-image: url(../images/main/main_icon.png);
  background-repeat: no-repeat;
  background-size: 323px 185px;
  background-position: -270px -145px;
  width: 40px;
  height: 40px;
}
.main-search__input {
  width: 100%;
  height: 50px;
  padding: 0 55px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #1e1e23;
}
.main-search-tool-btn {
  position: absolute;
  right: 26px;
  background-image: url(../images/main/main_icon.png);
  background-repeat: no-repeat;
  background-size: 323px 185px;
  background-position: 0 -145px;
  border-radius: 50%;
  transition: all 0.15s ease-in;
}
.main-search-tool-btn:hover {
  box-shadow: #e0e2e3 0px 5px 5px -5px inset, #cecece 0px 18px 36px -18px inset;
}
.main-link {
  display: block;
  width: 50px;
  max-width: 50px;
  flex: 1 1 25%;
  position: relative;
}
.main-link::before, .main-link::after {
  content: "";
  display: block;
  background-image: url(../images/main/main_icon.png);
  background-repeat: no-repeat;
  background-size: 323px 185px;
  width: 50px;
  height: 50px;
}
.main-link::before {
  background-position: -163px -21px;
}
.main-link::after {
  background-position: -218px -21px;
  position: absolute;
  top: 0;
  left: 0;
}
.main-link__img {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 3px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
.main-link__tit {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #1e1e23;
  text-align: center;
}
.main-link-stage {
  padding: 24px 20px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 22px;
  width: 100%;
  max-width: 306px;
  margin: 0 auto;
}
.main-ad {
  display: block;
  margin: 50px auto 0;
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  height: 100px;
}
.main-ad > img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.feed {
  width: 100%;
  min-width: 320px;
  max-width: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding: 8px 8px 0;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}
.feed-box {
  background-color: #fff;
  width: 100%;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.0588235294);
}
.feed-weather {
  height: 48px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 2px;
}
.feed-weather__icon {
  width: 36px;
  height: 36px;
  position: relative;
}
.feed-weather__icon::before {
  content: "";
  display: block;
  background-image: url(../images/common/icon-weather.png);
  background-size: 484px 459px;
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5454);
}
.feed-weather__icon.sun::before {
  background-position: -267px -46px;
}
.feed-weather > p {
  font-size: 14px;
  font-weight: 700;
  color: #303038;
}
.feed-popular__top {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  transition: all 0.15s ease-in;
}
.feed-popular__tit {
  font-size: 16px;
  font-weight: 700;
  color: #1c1c1c;
}
.feed-popular__btn {
  padding: 10px 16px;
  display: flex;
  align-items: center;
}
.feed-popular__btn::after {
  content: "";
  display: block;
  background-image: url(../images/common/icon-common.png);
  background-size: 343px 312px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-position: -242px -275px;
  transform: rotate(90deg);
  margin-top: 2px;
  transition: all 0.15s ease-in;
}
.feed-popular__btn.active::after {
  transform: rotate(-90deg);
}
.feed-popular__list {
  width: 200px;
  height: 165px;
  border: 1px solid rgba(50, 131, 253, 0.4);
  background-color: #fff;
  position: absolute;
  right: 20px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.feed-popular__list.active {
  opacity: 1;
  visibility: visible;
}
.feed-popular__age {
  box-sizing: border-box;
  flex: 1 1 50%;
  max-width: 50%;
  border-style: solid;
  border-width: 0;
  border-color: #eee;
}
.feed-popular__age:nth-child(odd) {
  border-right-width: 1px;
}
.feed-popular__age:not(:last-child) {
  border-bottom-width: 1px;
}
.feed-popular__age.active {
  background-color: rgba(50, 131, 253, 0.0784313725);
  font-weight: 700;
  color: #157efb;
}
.feed__link {
  display: block;
  padding: 10px;
}

@media screen and (min-width: 1024px) {
  .feed-popular__age:hover {
    background-color: rgba(50, 131, 253, 0.0784313725);
    font-weight: 700;
    color: #157efb;
  }
}/*# sourceMappingURL=main.css.map */