@include txt($fs:null, $fl:null, $lh: null, $ta: null,) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    text-align: $ta;
}

@include display($d: flex, $jc: space-between, $ai: center, $fd: column, $fw:nowrap) {
    display: $d;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
    flex-wrap: $fw;
}

body {
    background-color: #f4f6f8;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Apple SD Gothic Neo",Arial,sans-serif;   
}
